.index{
    background-color: #F96D6C;
    margin: 0;
}

.archive{
    background-color: #ffecdd;
    margin: 0;
}

header{
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url(../../assets/images/4970943.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    font-family: 'Hippie Flower', sans-serif;
    font-size: 50px;
    padding: 10px;
    box-sizing: border-box;
    text-shadow: -4px 0 black, 0 4px black, 2px 0 black, 0 -2px black;
}

#trivia{
    text-align: center;
}

#quiz{
    font-family: 'Hippie Flower', sans-serif;
    font-size: 55px;
    color: #FFA300;
    text-shadow: -2px 0 black, 0 4px black, 2px 0 black, 0 -2px black;
}

#tip{
    font-family: 'Hippie Flower', sans-serif;
    color:#F96D6C;

}

#homepage{
    background-color: #ffecdd;
    width:75%;
    height: 100%;
    float: left;
    text-align: left;
    padding: 40px;
    box-sizing: border-box;
    font-family: 'HarlequinFLF', sans-serif;
    font-size: 20px;

}

#menu-header{
    width: 25%;
    float: left;
    text-align: center;
    background-color: #F96D6C;
    font-size: 25px;
    color: white;
}

ul{
    width: 25%;
    float: left;
    text-align: center;
    background-color:  #F96D6C;
    font-family: 'Hippie Flower', sans-serif;
    font-size: 30px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
  
a{
    text-decoration: none;
    color: white;
}
    
li a{
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;

}

li a:hover{
    color: white;
    background-color: #FFA300;
}

#intro-image{
    float: right;
    width: 500px;
    margin: 0px 0px 15px 15px;
    border-radius: 15px;
}

#image-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2vw;
    background-color: #2196F3;
}

.archive-img{
    display: block;
    float: left;
    width: 300px;
    height: 200px;
    border-radius: 15px;
    margin: 2vw 2vw 0vw 2vw;
}

#archive-text{
    width: 300px;
    text-align: center;
    font-size: 20px;
    margin-left: 2vw;
    font-family: 'HarlequinFLF', sans-serif;
}

input[type=text]{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px 8px 0px;
    display: inline-block;
    border: 1px solid #F96D6C;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffecdd;
    font-family: 'HarlequinFLF', sans-serif;
    font-size: 20px;

}
  
input[type=submit] {
    width: 53%;
    background-color: white;
    color: #FC333D;
    padding: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'HarlequinFLF', sans-serif;
    font-size: 30px;
}
  
input[type=submit]:hover {
    background-color: #ffecdd;
}
  
#quiz-body{
    font-family: 'HarlequinFLF', sans-serif;
    font-size: 3vh;
    width: 80%;
    display: inline-block;
    border: solid 3px #FFA300;
    background-image:url(../../assets/images/4970943.jpg);
    border-radius: 15px;
    padding: 50px;
    margin: 10px;
}

.question-box{
    display: inline-block;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 20px;
    margin: 30px;
}

#select{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0px 8px 0px;
    display: inline-block;
    border: 1px solid #F96D6C;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ffecdd;
    font-family: 'HarlequinFLF', sans-serif;
    font-size: 20px;
}